@use "../../assets/styles/variables.scss" as variable;

body {
    background: variable.$bg-color;
    font-family: variable.$font-family;
}

.home{
    padding: 20px;
    text-align: center;
    

    h1 {
        color: variable.$text-color;
        margin-bottom: 20px;
    }

    .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: variable.$primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        background-color: variable.$primary-color-hover;
    }
  }
}
