

.books {
    padding: 20px;
    background-color: #f9f9f9;

    h2 {
        text-align: center;
        color: #444;
        margin-bottom: 20px;
    }

    .books-list {
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        justify-content: center;
    }

}