$bg-color: radial-gradient(circle, rgba(225, 230, 247, 1) 0%, rgba(97, 134, 171, 1) 100%);

$primary-color: #3c476b;    
$primary-color-hover: #151929;
$text-color: #333;
$secondary-text-color: #666;
$border-color: #ddd;


$card-bg-color: #d4d9eb;
$card-border-radius: 8px;
$card-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$card-padding: 15px;
$card-width: 200px;

$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size-base: 16px;
